* {
  box-sizing: border-box; }

header {
  background-color: green;
  padding: 10px 5%;
  border-bottom: 10px solid darkgreen; }
  header .main_title, header .title_big {
    font-family: 'Cagliostro', Verdana, sans-serif;
    margin-bottom: 0;
    font-size: 40px;
    font-weight: 600;
    color: white; }
  header .main_subtitle, header .subtitle_big {
    font-family: 'Terminal Dosis', sans-serif;
    color: black;
    margin-top: 5px;
    font-size: 20px;
    font-weight: 200; }
  header .title_big {
    font-size: 60px;
    text-align: center; }
  header .subtitle_big {
    font-size: 40px;
    text-align: center; }
  header nav .nav-main {
    float: right;
    list-style: none; }
    header nav .nav-main li {
      display: inline;
      padding-left: 30px;
      font-weight: 600;
      font-size: 20px;
      font-family: 'Terminal Dosis', sans-serif;
      text-decoration: none;
      color: black; }
  header .navlink {
    font-family: Helvetica, Arial, sans-serif;
    text-decoration: none;
    color: black;
    transition: .5s; }
    header .navlink:hover {
      color: white; }

@media (max-width: 480px) {
  .js-menu {
    display: block;
    margin-left: 50px; }

  #main_title, #main_subtitle {
    text-align: center; }

  .nav-main {
    float: none;
    padding-left: 0;
    padding-right: 30px;
    text-align: center; }
    .nav-main li:nth-child {
      padding-right: 0; } }
footer {
  text-align: center; }
  footer p {
    margin: 0;
    padding: 0;
    font-size: 20px; }

.titlelink {
  text-decoration: none; }

.gallery img {
  width: 200px;
  height: 200px; }

.gallery {
  list-style: none;
  margin-top: 50px;
  text-align: center;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding-left: 0; }

.gallery li {
  margin-bottom: 25px; }

.gallery li p {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 20px; }

/* Gallery image circular display */
.galleryimage, .galleryimage2 {
  width: 300px;
  height: 300px;
  border-radius: 150px;
  -webkit-border-radius: 150px;
  -moz-border-radius: 150px;
  background: url(http://link-to-your/image.jpg) no-repeat;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.8);
  zoom: 120%; }

.galleryimage2 {
  border-radius: 0; }

#resume h3 {
  text-align: center;
  font-size: 30px;
  margin-bottom: 0;
  padding-bottom: 0; }

#resume h4 {
  text-align: center;
  margin: 0 0px; }

#resume p {
  margin: 20px 20px 5px 20px; }

#resume h5 {
  margin-left: 5%;
  font-size: 20px;
  margin-bottom: 0; }

#resume h6 {
  margin-left: 5%;
  font-size: 17px;
  margin-bottom: 0;
  font-family: 'Calibri', Arial, sans-serif; }

#resume ul {
  margin-left: 5%; }

#resume .education {
  margin-left: 5%;
  margin-top: 25px; }

.writinglink:hover {
  -webkit-animation: jello 1s;
  animation: jello 1s; }

.designlink:hover {
  -webkit-animation: swing 1s;
  animation: swing 1s; }

.videoslink:hover {
  -webkit-animation: rubberBand 1s;
  animation: rubberBand 1s; }

.resumelink:hover {
  -webkit-animation: pulse 1s;
  animation: pulse 1s; }

.button-group {
  padding-top: 50px;
  margin-bottom: 50px; }

.videoitem {
  margin-right: 10px;
  margin-top: 10px; }

body {
  margin: 0;
  font-family: 'Cambria', 'Arial', sans-serif; }

ul {
  list-style-type: none; }

/*# sourceMappingURL=main.css.map */
